body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #99BC85, #d4eac7);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}       

.container {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #99BC85; /* Updated green color */
  margin-bottom: 10px;
}

.spiritual-words {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  font-style: italic;
}

.timer-circle {
  width: 200px;
  height: 200px;
  border: 5px solid #99BC85; /* Updated green color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.timer-circle span {
  font-size: 2rem;
  color: #333;
}

button {
  background-color: #99BC85; /* Updated green color */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #88A874; /* Slightly darker green for hover */
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}