body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #99BC85, #d4eac7);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2rem;
  color: #4caf50;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
  text-align: left;
}

.question p {
  font-size: 1.2rem;
  color: #333;
}

label {
  display: block;
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}