body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #99BC85, #d4eac7);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2rem;
  color: #4caf50;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.music-library {
  margin-bottom: 20px;
}

.track {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.track:hover {
  background-color: #e0f7fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.player {
  margin-top: 20px;
}

audio {
  width: 100%;
  outline: none;
}